# Kotlin Native Build Outputs
*.kexe
*.so
*.o
*.bc
*.ll
harmonyApp/entry/src/main/cpp/include/*_api.h

# Local toolchain path (kotlin.native.home)
local.properties

# project specific
*.log

# Gradle
.gradle/
build/
kotlinApp/build/

# IDE
.idea/
*.iml

# HarmonyOS
harmonyApp/.hvigor/
harmonyApp/oh_modules/
harmonyApp/entry/build/
harmonyApp/build/
harmonyApp/node_modules/
harmonyApp/local.properties

