/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test

.hvigor/
.idea/
build/
local.properties
oh_modules/
*/.DS_Store
.idea
*/.idea
.iac/tools/cicd/venv
.iac/tools/cicd/bin/local_*.py
.DS_Store
**/.DS_Store
**/.oh-package-lock.json5
oh-package-lock.json5
# 所有子目录的oh-package-lock.json5都一起ignore掉
**/oh-package-lock.json5
**/BuildProfile.ets
mock_workspace
*.pyc
*/*.pyc
**/cj_res
**/*.cj.macrocall
**/ability_mainability_entry.cj
**/module_**_entry.cj
.local_har